<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="home-container">
        <div class="row" *ngIf="posts.length > 0 && !isLoading">
                <div *ngFor="let post of posts" class="col-md-4">
                        <ul class="lit-ul">
                            <li><a routerLink="/product/{{ post.id }}"><img src="../../assets/images/home-icons/{{post.icon}}" alt=""></a></li>
                            <li class="round-li">  {{ post.name }}</li>
                            <li *ngIf="post.slug_name == 'A'">
                                    <p>You get</p>
                                    <div class="">
                                        <ul class="lit-inul">
                                            <li>hodl rocket ship</li>
                                            <li>x1000 cryptocoins</li>
                                            <li>lighting drive mk2</li>
                                        </ul>
                                    </div>
                                    <p>Monthly Price : {{ post.cost }}&nbsp;BTC</p>
                                    <p>Type of Subscription: Regular Payment, Start Immediately, Select Your Payment Date</p>
                                </li>
                                <li *ngIf="post.slug_name == 'B'">
                                    <p>You get</p>
                                    <p>
                                        BY DONATING TO THE WAR EFFORT ON A REGULAR BASIS GET ACCESS TO EXCLUSIVE CONTENT
                                      </p>
                                    <p>Monthly Price : {{ post.cost }}&nbsp;BTC</p>
                                    <p>Type of Subscription: Regular Payment & Select Your Payment Date</p>
                                </li> 
                                <li *ngIf="post.slug_name == 'C'">
                                    <p>You get</p>
                                    <div class="">
                                        <ul class="lit-inul">
                                            <li>mining on mars rover</li>
                                            <li>x3000 cryptocoins</li>
                                            <li>alien ico repellent</li>
                                        </ul>
                                    </div>
                                    <p>Monthly Price : {{ post.cost }}&nbsp;BTC</p>
                                    <p>Type of Subscription: Regular Payment, Start Immediately</p>
                                </li>   
                        </ul>
                </div>
    </div>
</div>
  

<p class="info-text mat-body-1"  *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>