ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    float:left;
}

a {
    text-decoration: none;
    color: white;
}

.spacer{
    flex: 1 1 auto;
}

footer{
    position: relative;
    bottom: 0;
}


footer{
    margin-top: 15px;
    display: block;
    min-height: 200px;
    text-align: center;
    font-family:"Roboto Condensed", sans-serif;
  }
  
  footer h1{
    color: #ffffff;
    font-size: 32px;
    line-height: 1;
  }
  
  footer h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 2;
  }
  