
<div class="home-container">
    <div class="row">
        <div class="col-md-12">
               
            <form (submit)="onSavePost(postForm)" #postForm="ngForm" >
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
          <ul class="lit-ul">
               
              <li><img src="../../assets/images/home-icons/{{ icon }}" alt=""></li>
              <li class="round-li">{{ serviceName }}</li>
              <li>
                    Payment Date&nbsp;&nbsp;
                          <mat-form-field *ngIf="productACEnable">
                            <mat-select name="paydate"
                              required
                              [(value)]="selectedDate"
                              (selectionChange)="selectChangeHandler($event.value)"
                            >
                              <mat-option *ngFor="let date of dates" [value]="date.value">
                                {{ date.viewValue}}
                              </mat-option>
                            </mat-select>
                          
                          </mat-form-field>

                          <mat-form-field *ngIf="productBEnable">
                              <input matInput readonly value="{{ payment_day }}">
                          </mat-form-field>
                         
                          <!-- <select (change)="selectChangeHandler($event)">
                            <option *ngFor="let date of dates" [value]="date.value">
                              {{ date.viewValue}}
                            </option>
                          </select> -->
                 
                  <h5>Summary of Purchase</h5>
                  
                  <div class="">
                      <ul class="list-group">
                          <li class="list-group-item">Name- 
                            <label for="productName">{{serviceName}}</label>
                            <!-- <mat-form-field><input 
                            matInput 
                            type="text"
                            name="service_name" 
                            readonly
                            [ngModel]="product.name"
                            #service_name="ngModel"
                            > 
                          </mat-form-field>   -->
                          </li>
                          <li class="list-group-item" *ngIf="productAEnable">Immediate Payment Cost 
                            <label for="ipayCost">{{ iPayCost }}</label>
                              <!-- <mat-form-field><input 
                                matInput 
                                type="text"
                                name="immediate_cost" 
                                readonly
                                [ngModel]="iPayCost"
                                #immediate_cost="ngModel"
                                > 
                              </mat-form-field>   -->
                           </li> 
                          <li class="list-group-item">Cost 
                              <!-- <mat-form-field><input 
                                matInput 
                                type="text"
                                name="amount" 
                                readonly
                                [ngModel]="product.cost"
                                #amount="ngModel"
                                > 
                              </mat-form-field>   -->
                              <label for="productCost">{{ cost }}</label>
                            </li> 
                          <li class="list-group-item">Frequency
                              <!-- <mat-form-field><input 
                                matInput 
                                type="text"
                                name="frequency" 
                                readonly
                                [ngModel]="product.frequency"
                                #frequency="ngModel"
                                > 
                              </mat-form-field>  -->
                              <label for="frequency">{{ frequency }}</label>
                              </li> 
                          <li class="list-group-item">Payment Date 
                              <!-- <mat-form-field><input 
                                matInput 
                                type="text"
                                name="paydate" 
                                readonly
                                [ngModel]="selectedDate"
                                #paydate="ngModel"
                                > 
                              </mat-form-field>  -->
                              <label for="selectedDate">{{ selectedDate }}</label>
                          </li> 
                        </ul>
                  </div>
                 
              </li>
              <li class="lit-bot-link"> 
                <!-- <a class="" routerLink="/invoice">Purchase Service</a> -->
                <button 
                  mat-raised-button 
                  color="primary" 
                  type="submit"
                >Purchase Service</button>
              </li>
          </ul>
        </form>
        </div>
  
    </div>
  </div>