<div class="home-container">
        <div class="row">
            <div class="col-md-12">
              <ul class="lit-ul">
                  <li></li>
                  <li></li>
                  <li>
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                      <div class=""  *ngIf="!isLoading">
                       
                            <div class="well well-sm">
                                
                                <h4>Schedule ID:&nbsp;<span class="label label-default"></span></h4>
                                <textarea rows="2" cols="40" readonly>{{ myAngularxQrCode }}</textarea>
                                <div class="lit-barcode">
                                    <!-- <img src="../../assets/images/invoice/barcode.png" alt="barcode"> -->
                                   
                                    <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
                                     
                                </div>
                                <p>Time left to Make Initial Payment:</p>
                                <p>30mins</p>
                            </div>
                            <div class="well well-sm center">
                                <h5>Instructions how to pay using Lightning Collect</h5>
                                    <p>1) Download Wallet App</p>
                                    <p>2) Fund with Bitcoin</p>
                                    <p>3) Copy and Paste Invoice ID or Scan QR Code</p>
                            </div>
                      </div>
                    
                  </li>
              </ul>
            </div>
        </div>
      </div>