<div class="home-container">
  <div class="row">
      <div class="col-md-12">
          <form (submit)="onSavePost(postForm)" #postForm="ngForm" >
        <ul class="lit-ul">
            <li><img src="../../assets/images/home-icons/icon1.png" alt=""></li>
            <li class="round-li">{{ name }}</li>
            <li>
               Payment Date&nbsp;&nbsp;   
               <mat-form-field>
                <mat-select name="paydate"
                  required
                  [(value)]="selected"
                  (selectionChange)="selectChangeHandler($event.value)"
                >
                  <mat-option *ngFor="let date of dates" [value]="date.value">
                    {{ date.viewValue}}
                  </mat-option>
                </mat-select>
              
              </mat-form-field>
                <h5>Summary of Purchase </h5>
                
                <div class="">
                    <ul class="list-group">
                        <li class="list-group-item">Name-&nbsp;&nbsp;<label for="productName">{{ name }}</label></li>
                        <!-- <li class="list-group-item">Immediate Payment Cost = {{ product.immediatePaymentCost }}</li>  -->
                        <li class="list-group-item">Cost&nbsp;&nbsp; 
                            <label for="productCost">{{ cost }}</label>
                        </li> 
                        <li class="list-group-item">Frequency&nbsp;&nbsp; <label for="productCost">{{ frequency  }}</label>
        
                        </li> 
                        <li class="list-group-item">Payment Date 
                            <!-- <mat-form-field><input 
                              matInput 
                              type="text"
                              name="paydate" 
                              readonly
                              [ngModel]="selectedDate"
                              #paydate="ngModel"
                              > 
                            </mat-form-field>  -->
                            <label for="selectedDate">{{ selectedDate }}</label>
                        </li> 
                     </ul>
               </div>
              
           </li>
           <li class="lit-bot-link">
            <!-- <a class="" routerLink="/invoice">Purchase Service</a> -->
            <button 
             mat-raised-button 
             color="primary" 
             type="submit"
           >Purchase Service</button>
           </li>
        </ul>
      </form>
      </div>
  </div>
</div>