

.home-container{
    text-align: center;
    font-size: 26px;
    width: 70%;
    margin: 10rem auto auto auto;
}


.home-container img{
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    border: 20px solid dodgerblue;
}

.lit-ul{
    text-transform: uppercase;
}

.lit-ul div{
    width: 150px;
    margin: auto;
}

.lit-ul .round-li{
    color: #000000;
    background-color: yellow;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
    width: 190px;
    margin: 5px auto;
}

.lit-inul{

}

.lit-ul > :nth-child(3){
    padding: 30px 10px 20px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
    top: -15px;
    z-index: -1;
    height: 175px;
    /* -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));  */
    box-shadow: #000000 -2px 12px 20px 0px;
}

.lit-inul li:after {
    color: dodgerblue;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: "■";
}