<div class="home-container">
        <div class="row">
            <div class="col-md-4">
              <ul class="lit-ul">
                  <li><a routerLink="/product"><img src="../../assets/images/home-icons/icon1.png" alt=""></a></li>
                  <li class="round-li">{{ productA.name }}</li>
                  <li>
                      <p>You get</p>
                      <div class="">
                          <ul class="lit-inul">
                              <li>hodl rocket ship</li>
                              <li>x1000 cryptocoins</li>
                              <li>lighting drive mk2</li>
                          </ul>
                      </div>
                      <p>{{ productA.type }} : {{ productA.btc }}</p>
                      <p>Type of Subscription: Regular Payment, Start Immediately, Select Your Payment Date</p>
                  </li>
              </ul>
            </div>
            <div class="col-md-4">
               <ul class="lit-ul">
                  <li><a routerLink="/productB"><img src="../../assets/images/home-icons/icon2.png" alt=""></a></li>
                  <li class="round-li">{{ productB.name }}</li>
                  <li>
                      <p>
                          you get
                      </p>
                      <p>
                        BY DONATING TO THE WAR EFFORT ON A REGULAR BASIS GET ACCESS TO EXCLUSIVE CONTENT
                      </p>
                        <p>{{ productB.type }} : {{ productB.btc }}</p>
                        <p>Type of Subscription: Regular Payment & Select Your Payment Date</p>
                  </li>
              </ul>
            </div>
            <div class="col-md-4">
                  <ul class="lit-ul">
                     <li><a routerLink="/productC"><img src="../../assets/images/home-icons/icon3.png" alt=""></a></li>
                     <li class="round-li">{{ productC.name }}</li>
                     <li>
                          <p>You get</p>
                          <div class="">
                              <ul class="lit-inul">
                                  <li>mining on mars rover</li>
                                  <li>x3000 cryptocoins</li>
                                  <li>alien ico repellent</li>
                              </ul>
                          </div>
                          <p>{{ productC.type }} : {{ productC.btc }}</p>
                          <p>Type of Subscription: Regular Payment, Start Immediately</p>
                      </li>
                 </ul>
               </div>
        </div>
      </div>