

.home-container{
    font-size: 26px;
    width: 28%;
    margin: 30px auto;
}

.msgbox {
    color: white;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 15rem;
    text-shadow:5px 5px 10px #000000;
}

